body {

}

img {
  margin-top: 80px;
}

#text{
    text-align: center;
  margin-top: 25px;
 font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
.navbar {

}

.navbar li a {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

#hello{
    text-align: center;
  margin-top: 25px;
  font-family: 'Cousine', monospace;
  font-size: 80px;
}

#list{
  margin-top: 25px;
 font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
